body {
    margin: 0%;
    background-color: black;
}

h1 {
    text-transform: uppercase;
    font-family: "Trebuchet MS", Optima;
    text-align: center;
    margin-top: 3%;
    color: #1a1a1a;
}

h1:hover {
    filter: grayscale(5%);
    transform: scale(1.1);
    transition: transform 1s;
    color: green;
}

.white-text {
    color: #fff;
}

p {
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: justify;
    text-align: center;
    letter-spacing: 1px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

p:hover {
    transition: transform 1s;
    transform: scale(1.01);
}

.center {
    text-align: center;
}

.center:hover {
    transition: transform 2s;
    transform: scale(1.1);
}

a {
    color: blue;
}

q {
    font-style: italic;
}


img {
    filter: grayscale(50%);
    border-radius: 8px;
    max-width: 100%;
    height: 340px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img:hover {
    filter: grayscale(5%);
    transition: transform 1s;
    transform: scale(1.05);
}

.img_2 {
    filter: invert;
    -webkit-filter: invert(100%);
}

.img_3 {
    filter: invert;
    -webkit-filter: invert(100%);
}

@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}

footer {
    padding: 2%;
    background-color: black;
    color: white;
}

.Navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: moveNav 5.75s;
    animation: moveNav 5.75s;
}


@keyframes moveNav {
    from {
        left: -100vw;
    }

    to {
        left: 0vw;
    }
}

.Navbar a {
    float: left;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Avant Garde, Helvetica;
    font-size: 20px;
    text-align: center;
    position: relative;
    -webkit-animation: moveNavText 3.75s;
    animation: moveNavText 3.75s;
}

@keyframes moveNavText {
    from {
        top: -100vw;
    }

    to {
        top: 0vw;
    }
}

@media screen and (max-width: 576px) {
    .Navbar a {
        width: 25%;
        font-size: 12px;
    }
}

.Navbar a:hover {
    background-color: #f4f4f4;
    color: black;
    font-weight: bold;
}

.Navbar a.active {
    background-color: darkgray;
}

#Coding_Video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -1;
}

@media screen and (max-width: 576px) {
    #Typing_Video {
        display: none;
    }
}

.Video_Text {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    padding: 20px;
    position: relative;
    -webkit-animation: moveVideoText 5.75s;
    animation: moveVideoText 5.75s;
}

@keyframes moveVideoText {
    from {
        top: -100vw;
    }

    to {
        top: 0vw;
    }
}

#Slideshow_Background {
    background: rgba(255, 255, 255, 0.35); 
    padding-top: 2px;
    padding-bottom: 25px;
}

.mySlides{
    display: none; 
}

#Slideshow_Container {
    width: 39.5vw; 
    height: auto; 
    padding-top: 4%; 
    position: relative; 
    margin:auto; 
    padding-bottom: 25px;
}

#Slideshow_Container a {
    text-decoration: none;
}

.Slideshow_Images {
    vertical-align: middle; 
    height: auto; 
    box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, .75); 
    width: 100%; 
    height: 500px; 
    object-fit: cover;
}

.Previous, .Next {
    cursor: pointer; 
    position: absolute; 
    top: 50%; 
    width: auto; 
    padding: 2vw; 
    color: darkgray; 
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0; 
    user-select: none; 
    transition: 0.6s ease; 
}

.Next {
    right: 0; 
    border-radius: 3px 0 0 3px; 
}

.Previous:hover, .Next:hover {
    background-color: rgba(0, 0, 0, 0.8); 
    color: white; 
}


.text {
    color: white; 
    padding: 1vw;
    position: absolute; 
    bottom: 0; 
    width: 100%;
    text-align: center; 
    font-family: Perpetua, Rockwell Extra Bold;
    letter-spacing: .1vw; 
    font-size: 1.5vw; 
    background-color: rgba(0, 0, 0, 0.75); 
    font-weight: bold;
    border-radius: 0px 0px 7px 7px; 
}

.dot {
    cursor: pointer; 
    height: 1vw; 
    width: 1vw;
    margin: .25vw;  
    background-color: white; 
    border-radius: 50%; 
    display: inline-block; 
    transition: background-color 0.6s ease; 
    z-index: 1; 
}

.active, .dot:hover {
    background-color: black; 
}

.fade {
    animation-name: fade; 
    animation-duration: 1.5s; 
    -webkit-animation-name: fade; 
    -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4;} 
    to {opacity: 1;} 
}

@keyframes fade {
    from {opacity: .4;} 
    to {opacity: 1;} 
}

* {
    box-sizing: border-box;
}

.Column_1 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 3%;
    height: 400px;
    background-color: #f2f2f2;
}

@media screen and (max-width: 576px) {
    .Column_1 {
        overflow: auto;
    }
}

.Column_2 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1.9%;
    height: 400px;
    background-color: #4d4d4d;
}

.Column_tall {
    padding-top: 3.5%;
    height: 450px;
}

.Row:after {
    content: "";
    display: table;
    clear: both;
}

input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: Perpetua, Rockwell Extra Bold;
}

input[type=text]:hover {
    box-shadow: 0 0 5px #00004d inset;
}

input[type=submit] {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Perpetua, Rockwell Extra Bold;
}

input[type=submit]:hover {
    background-color: white;
    color: black;
    transform: scale(1.5);
    transition: transform 1.5s;
}

form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    font-family: "Trebuchet MS", Optima;
}

.Pop_Up_Button {
    position: fixed; 
    bottom: 1.75vw; 
    right: 1.75vw; 
    width: 25vw; 
    background-color: white; 
    color: black; 
    border: solid black; 
    cursor: pointer; 
    -webkit-animation: movePopup 5s; 
    animation: movePopup 5s; 
}

@keyframes movePopup {
    from {right: -40vw;} 
    to {right: 1.75vw;}
}

@-webkit-keyframes movePopup {
    from {right: -40vw;} 
    to {right: 1.75vw;}
}

.form-popup {
    z-index: 8; 
    display: none;
    position: fixed; 
    bottom: .5vw; 
    right: .5vw; 
}

.form-container {
    max-width: 49vw; 
    padding: 1vw; 
    background-color: white; 
}

.form-container input[type=text] {
    width: 100%; 
    padding: .93vw; 
    margin: .6vw 0 .6vw 0; 
    border: none; 
    background: Gainsboro; 
    font-size: 1vw; 
}

button {
    font-family: "Trebuchet MS", Optima;
    letter-spacing: .3vw; 
    font-size: 1.5vw; 
    font-weight: bold; 
    padding: 1.5vw; 
    cursor: pointer; 
    width: 100%; 
    height: auto; 
}

button:hover, .form-container .btn:hover {
    color: white; 
    background-color: green; 
    transition-duration: 1s; 
    -webkit-transition-duration: 1s; 
    border-color: silver; 
}


.form-container .btn {
    background-color: white; 
    color: black;
    border-color: black;
    margin-bottom: 1vh; 
}

.form-container .cancel {
    background-color: black;
    color: white;
    border-color: gray;
}

.form-container .cancel:hover {
    color: white;
    background-color: darkred;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: black;
}
